{% extends 'backoffice/base.html.twig' %}

{% block title %}
    {% if page == 'create' %}
    Creer un acteur
    {% else %}
    {{ actor.firstname }} {{ actor.lastname }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    

{{ include('_partials/_flash_messages.html.twig') }}
<h1> 
    {% if page == 'create' %}
        Creer un acteur
    {% else %}
        Mettre a jour {{ actor.firstname }} {{ actor.lastname }}
    {% endif %}
</h1>
<div> 
     <a href="{{ url('backoffice_actors_browse') }}" class="btn btn-primary" alt="List" title="List">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </a>  
</div>

{{ form_start(actor_form) }}

    {{ form_errors(actor_form) }}
    {{ form_row(actor_form.firstname) }}
    {{ form_row(actor_form.lastname) }}
    {{ form_row(actor_form.series) }}
    {{ form_row(actor_form.image) }}
    {{ form_row(actor_form.createdAt) }}
    {{ form_row(actor_form.updatedAt) }}

    <button type="submit" class="btn btn-primary mt-4">
    {% if 'backoffice_actors_add' == app.request.get('_route') %}
    Create
    {% else %}
    Update
    {% endif %}
    </button>

{{ form_end(actor_form) }} 

</div>
{% endblock %}
