{% extends 'backoffice/base.html.twig' %}

{% block title %}
    {% if page == 'create' %}
    Ajouter une série à une liste
    {% else %}
    {# User {{ user.username }} #}
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    

{{ include('_partials/_flash_messages.html.twig') }}
<h1> 
    {% if page == 'create' %}
        Ajouter une série à une liste
    {% else %}
        Mettre a jour {{ userlist.id }}
    {% endif %}
</h1>
<div> 
     <a href="{{ url('backoffice_userlist_browse') }}" class="btn btn-primary" alt="List" title="List">
        Retour
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </a>  
</div>

{{ form_start(userlist_form) }}

    {{ form_errors(userlist_form) }}
    {{ form_row(userlist_form.series) }}
    {{ form_row(userlist_form.seasonNb) }}    
    {{ form_row(userlist_form.episodeNb) }}
    {{ form_row(userlist_form.type) }}
    {{ form_row(userlist_form.users) }}

    <button type="submit" class="btn btn-primary mt-4">
    {% if 'backoffice_userlist_add' == app.request.get('_route') %}
    Create
    {% else %}
    Update
    {% endif %}
    </button>

{{ form_end(userlist_form) }} 

</div>
{% endblock %}
