{% extends 'backoffice/back/main.html.twig' %}

{% block title %} - 5 series{{ parent() }}{% endblock %}


{% block body %}
<div class="container">
{{ include('_partials/_flash_messages.html.twig') }}

<h1>Series en page d'accueil</h1>
<div> 
    <a href="{{ url('backoffice_series_add') }}" class="btn btn-success" title="Add" alt="Add">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" >
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </a>
</div>
<div class="text-end">
</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Emplacement</th>
    </tr>
  </thead>
  <tbody>
{% for series in series_list %}
    <tr>
      <th scope="row">{{ series.id }}</th>
      <td>{{ series.title }}</td>
      <td>{{ series.homeOrder }}...</td>
      <td>
        

      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}