{% extends 'backoffice/back/main.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}


{% block body %}
<div class="container">
{{ include('_partials/_flash_messages.html.twig') }}

<h1>Series en page d'accueil</h1>

<div class="text-end">
</a>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Emplacement</th>
      <th scope="col">Titre</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr> 
       
    {{ form_start(series_form) }}
      <th scope="row">{{ form_row(series_form.homeOrder) }}</th>      
      <td>{{ form_row(series_form.title) }}</td>
      <td>
        <button type="submit" class="btn btn-primary">
          Mettre a jour
        </button>
      </td>   
    </tr> 
  </tbody>
</table>
{{ form_end(series_form) }}

</div>
{% endblock %}


{# {% for series in series_homeOrder %}
{% if series.homeOrder > 0 and series.homeOrder < 6 %}
    <tr>    
      <th scope="row">{{ series.homeOrder }}</th>      
      <td>{{ series.title }}</td>
      <td>
        <button type="submit" class="btn btn-primary">
          Mettre a jour
        </button>
      </td>
{% endif %}      
    </tr> 
{% endfor %} #}