{% extends 'backoffice/back/main.html.twig' %}

{% block title %} - 5 series{{ parent() }}{% endblock %}


{% block body %}
<div class="container">
{{ include('_partials/_flash_messages.html.twig') }}

<h1>Series en page d'accueil</h1>

<div class="text-end">
</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Emplacement</th>
      <th scope="col">Titre</th>
    </tr>
  </thead>
  <tbody>
{% for series_homeOrder in series_homeOrder %}
    <tr>
      <th scope="row">{{ series_homeOrder.homeOrder }}</th>
      <td>{{ series_homeOrder.title }}</td>
    </tr>
{% endfor %}
    <tr>
      <th scope="row">---------------------------------------</th>
      <td>---------------------</td>
    </tr>
{% for series in series_list %}
    <tr>
      <th scope="row">{{ series.homeOrder }}</th>
      <td>{{ series.title }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}