{% extends 'backoffice/base.html.twig' %}

{% block searchBar %}
    {% if app.request.method == 'POST' %}
        <div>
            {% if series | length == 0 %}
                <h4>Aucun résulat pour votre recherche.</h4>
            {% else %}
                <h3 class="mt-3 text-center">Vos résultats de recherche :</h3>
                {% for series in series %}
                    <div class="mx-auto mt-3 p-3 bg-light border rounded col-5 text-center d-flex flex-row">
                        <img class="img-fluid w-25" src="{{series.image}}">
                        <a class="m-2" href="{{ path('backoffice_series_read', {'id': series.id}) }}">
                            <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ series.title }}</h6>
                            <div class="text-dark small p-1 rounded">
                                    Crée le {{ series.createdAt|format_datetime('medium', 'short') }} par {{ series.director }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}