{% extends 'backoffice/base.html.twig' %}

{% block title %}
    {% if page == 'edit' %}
        {{ series.title }}        
    {% else %}
        Creer une serie
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    <div>
        <a href="{{ url('backoffice_series_browse') }}" class="btn btn-primary" alt="List" title="List">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </a>
    </div>

{{ include('_partials/_flash_messages.html.twig') }}
<h1> 
    {% if page == 'edit' %}
        Mettre a jour {{ series.title }}
    {% else %}
        Creer une nouvelle serie
    {% endif %}
</h1>
<div class="text-end">
</div>

{{ form_start(series_form) }}

<div class="card col-9 my-1 bg-white flex-wrap">

    <h6 class="card-header bg-white col-12">Description de la série :</h6>

    <div class="card col-12 bg-white border-0">

        <div class="card col-12 d-flex flex-row">
            <div class="bg-image col-4 my-auto" data-mdb-ripple-color="light">
                <img src="{{ series.image }}" class="img-fluid" />
            </div>
            <div class="col-8 p-2">
                <p class="card-text">{{ form_row(series_form.synopsis) }}</p>
            </div>
        </div>

        <div class="card d-flex flex-row">
            <h6 class="card-header col-4 border-0">{{ form_row(series_form.image) }}</h6>
            <div class="col-4 p-2">
                {{ form_row(series_form.genre) }}
            </div>
            <div class="col-4 p-2">
                {{ form_row(series_form.actor) }}
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="card-footer d-flex justify-content-between flex-row col-12 border-0">
                <div>{{ form_row(series_form.title) }}</div>
                <div>{{ form_row(series_form.releaseDate) }}</div>
                <div>{{ form_row(series_form.director) }}</div>
                <div>{{ form_row(series_form.numberOfSeasons) }}</div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-between bg-white">
            <div>
                <div class="my-0 h6">{{ form_row(series_form.homeOrder) }}</div>
            </div>
            <div class="my-auto">
                <div class="my-0 h6">Ajouté le :</div>
                <div class="my-0 h6">{{ series.createdAt|date("d/m/Y") }}</div>
            </div>
            <div class="my-auto">
                <div class="my-0 h6">Mis à jour le :</div>
                <div class="my-0 h6">{{ series.updatedAt|date("d/m/Y à H:i") }}</div>
            </div>
        </div>
    </div>
</div>

    {{ form_errors(series_form) }}

    

    <button type="submit" class="btn btn-primary mt-4">
    {% if 'backoffice_series_add' == app.request.get('_route') %}
    Create
    {% else %}
    Update
    {% endif %}
    </button>

{{ form_end(series_form) }} 

</div>
{% endblock %}
